:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-hover: hsl(158, 42%, 18%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: grid;
  padding: 1.75rem 1rem;
  background-color: var(--cream);
  font-size: 0.875rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card__body {
  background: var(--white);
  padding: 1.5rem;
  color: var(--dark-grayish-blue);
  border-radius: 0 0 10px 10px;
}

.card__small {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.card__heading {
  color: var(--very-dark-blue);
  font-size: 2rem;
  line-height: 1;
  margin-top: 0.75rem;
  font-family: 'Fraunces', sans-serif;
}

.card__text {
  margin-top: 1rem;
  line-height: 1.4375rem;
}

.card__price {
  margin-top: 1.5rem;
  color: var(--dark-cyan);
  font-weight: 700;
  font-family: 'Fraunces', sans-serif;
  font-size: 2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.initial-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.card__btn {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  border: none;
  background-color: var(--dark-cyan);
  width: 100%;
  border-radius: 8px;
  font-size: inherit;
  font-family: inherit;
  color: var(--white);
  padding: 0.9375rem 0;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-icon {
  margin-right: 0.75rem;
  height: 16px;
}

.card__btn:hover {
  background-color: var(--dark-cyan-hover);
}

@media (min-width: 768px) {
  body {
    place-items: center;
    padding: 0;
  }

  .card {
    flex-direction: row;
  }

  .card__image {
    height: 450px;
  }

  .card__body {
    max-width: 300px;
    border-radius: 0;
    padding: 2rem;
  }

  .card__heading {
    margin-top: 1.25rem;
  }

  .card__text {
    margin-top: 1.5rem;
  }

  .card__price,
  .card__btn {
    margin-top: 1.875rem;
  }
}
